.feedback {
  width: 600px;
  text-align: center;
  margin: 50px auto 0px auto;
  border: solid 3px black;
  border-radius: 3px;
}

.header,
.statistics,
.text {
  color: #850808;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button {
  min-width: 100px;
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #000000;
  background-color: transparent;
  font-size: 25px;
  color: #850808;
  box-shadow: 3px 2px 4px rgba(99, 77, 77, 0.2);
  cursor: pointer;
  transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  transform: scale(0.95);
  background-color: rgb(97, 114, 35);
  border-color: rgb(92, 91, 175);
  color: #ffffff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.text {
  font-size: 15px;
}
